---
import "@fontsource-variable/inter";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("social.jpg", site);

const description =
  "Brote is a clean coffee brew log for people who care about taste and process.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/brote-icon.png" type="image/png" />

    <meta name="generator" content={generator} />

    <title>Brote</title>
    <meta name="description" content={description} />

    <meta property="og:title" content="Brote" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />

    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body class="bg-[#ec6724] text-black">
    <main class="flex min-h-screen flex-col px-10 md:px-48">
      <slot />
    </main>
  </body>
</html>
